name: Build Example

on: push

jobs:
 checkout:
  runs-on: ubuntu-latest
  steps:
   - name: Checkout
     uses: actions/checkout@v5.0.1
   - name: Setup Node.js environment
     uses: actions/setup-node@v6.0.0
   - name: Install dependencies
     run: npm install
   - name: Archive production artifacts
     uses: actions/upload-artifact@v4
   - name: Verification
     run: ls -alhR
