name: Build Example

on: push

jobs:
 CI-flow:
  runs-on: ubuntu-latest
  steps:
   - name: Checkout
     uses: actions/checkout@v5.0.1
   - name: Setup Node.js environment
     uses: actions/setup-node@v6.0.0
   - name: Install dependencies
     run: npm install
   - name: Run tests
     run: npm test
   - name: Archive production artifacts
     uses: actions/upload-artifact@v4
     with:
      path: .
   - name: Verification
     run: ls -alhR
   - name: Test Reporter
     uses: dorny/test-reporter@v2.1.1
