name: CI

on:
 push:
  branches:
   - main
 pull_request:

jobs:
 test:
  runs-on: ubuntu-latest

  steps:
   - name: Checkout
     uses: actions/checkout@v5.0.0
     
   - name: Setup Node.js environment
     uses: actions/setup-node@v4
     with: 
       node-version: '20'

   - name: Build the code
     run: npm install

   - name: Test the code
     run: npm test -- --coverage

   - name: Better Test Reports Action
     uses: mridang/action-test-reporter@v1.7.0
     with:
      github-token: ${{ secrets.GITHUB_TOKEN }}
      coverage-file: ./coverage/clover.xml
      working-directory: ./

  code-quality:
   runs-on: ubuntu-latest

   steps:
    - name: Checkout
      uses: actions/checkout@v5.0.0

    - name: Setup Node.js environment
      uses: actions/setup-node@v4
      with: 
       node-version: '20'

    - name: Install dependencies
      run: npm install

    - name: Run ESLint
      run: npm run lint

    - name: Run Prettier Check
      run: npm run format:checkout

    - name: Run Security audit
      run: npm audit --audit-level-high