name: Docker example

on:
 push:
  branches:
   - main

jobs:
 build:
  runs-on: ubuntu-latest

  steps:
   - name: Checkout
     uses: actions/checkout@v5.0.0
     
   - name: Setup Node.js environment
     uses: actions/setup-node@v4
     with: 
      node-version: '20'

   - name: Build the code
     run: npm install && rm -f build.zip && zip -r build.zip *.js Dockerfile docker-compose.yml .dockerignore public/ node_modules/
   
   - name: Test the code
     run: npm test -- --coverage

   - name: Generate test report
     uses: mridang/action-test-reporter@v1.7.0
     with:
      github-token: ${{ secrets.GITHUB_TOKEN }}
      coverage-file: ./coverage/clover.xml
      working-directory: ./

   - name: Login to Docker Hub
     uses: docker/login-action@v3
     with:
      username: ${{ vars.DOCKERHUB_USERNAME }}
      password: ${{ secrets.DOCKERHUB_TOKEN }}

   - name: Build and push
     uses: docker/build-push-action@v6
     with:
      push: true
      tags: ${{ vars.DOCKERHUB_USERNAME }}/calculator-app-finished:latest