name: Complete example

on:
 push:
  branches:
   - main

jobs:
 build:
  runs-on: ubuntu-latest

  steps:
   - name: Checkout
     uses: actions/checkout@v5.0.0
     
   - name: Setup Node.js environment
     uses: actions/setup-node@v4
     with: 
      node-version: '20'

   - name: Build the code
     run: npm install && npm run zip --if-present
     uses: mridang/action-test-reporter@v1.7.0
     with:
      github-token: ${{ secrets.GITHUB_TOKEN }}
      coverage-file: ./coverage/clover.xml
      working-directory: ./
   
   - name: Test the code
     run: npm test -- --coverage
   
   - name: Upload artifact for deployment job
     uses: actions/upload-artifact@v4
     with:
      name: node-app
      path: build.zip

   - name: Login to Docker Hub
     uses: docker/login-action@v3
     with:
     username: ${{ vars.DOCKERHUB_USERNAME }}
     password: ${{ secrets.DOCKERHUB_TOKEN }}

   - name: Set up QEMU
     uses: docker/setup-qemu-action@v3

   - name: Set up Docker Buildx
     uses: docker/setup-buildx-action@v3

   - name: Build and push
     uses: docker/build-push-action@v6
     with:
      push: true
      tags: user/app:latest
     